<% include header %>
<% include navbar %>

<div>
    <h1 class="pb-5">Donnez votre avis !</h1>
</div>

<div id="app-avis">
    <!-- Card -->
    <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view gradient-card-header blue-gradient">

            <!-- Title -->
            <h2 class="card-header-title mb-3">Donnez votre avis sur nos ateliers</h2>
            <!-- Text -->
            <p class="mb-0"><i class="fa fa-calendar mr-2"></i>{{date}}</p>

        </div>

        <!-- Card content -->
        <div class="card-body text-center">

            <!-- Text -->
            <p class="card-text">choississez l'atelier et donner votre avis.</p>

            <select class="mdb-select" id="choix-atelier">
                <option value="" disabled selected>Chosir un atelier</option>
                <option v-for="(value, key, index) in ateliers" v-bind:value="key">{{value.LIBELLEATELIER}}</option>
            </select>

            <!-- Form inline with radios -->
            <form class="form-inline">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="avis" id="tres-satisfait" value="0" checked>
                    <label class="form-check-label" for="tres-satisfait">
                        Très satisfait
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="avis" id="satisfait" value="1">
                    <label class="form-check-label" for="satisfait">
                        Satisfait
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="avis" id="moyennement-satisfait" value="2">
                    <label class="form-check-label" for="moyennement-satisfait">
                        Moyennement satisfait
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="avis" id="pas-satisfait" value="3">
                    <label class="form-check-label" for="pas-satisfait">
                        Pas du tout satisfait
                    </label>
                </div>

            </form>

            <button class="mt-xl-4 btn blue-gradient btn-rounded" v-on:click="addAvis()">Envoyer</button>
            <!-- Form inline with radios -->
            <a href="statistiques" class="blue-text d-flex flex-row-reverse p-2">
                <h5 class="waves-effect waves-light">Voir les resultats<i class="fa fa-angle-double-right ml-2"></i></h5>
            </a>

        </div>
        <!-- Card content -->

    </div>
</div>
<!-- Card -->

<% include footer %>